// DISPLAY MODE TOGGLES
// obsolete
.mat-button-toggle-group {
    height: 32px;
    align-items: center;
}

.display-mode-tab-small {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    height: 84px;
}

.display-mode-tab-large {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    height: 112px;
}

.display-mode-tab-line {
    padding-top: 2px;
    padding-bottom: 2px;
}
