/client/dist
/client/tmp
/client/out-tsc
/client/bazel-out
/client/node_modules
/client/npm-debug.log
/client/yarn-error.log
/client/.idea/
/client/.project
/client/.classpath
/client/.c9/
/client/*.launch
/client/.settings/
/client/*.sublime-workspace
/client/.vscode/*
/client/.history/*
/client/.angular/cache
/client/.sass-cache/
/client/connect.lock
/client//coverage
/client/libpeerconnection.log
/client/testem.log
/client/typings
__pycache__
.vector_cache
/server/dataset
/server/GraphVQA_mod/outputdir
/server/parameters
.DS_Store
Thumbs.db
