.tooltip {
    left: 0px;
    top: 0px;
}

.overlay-button {
    border-radius: 20px;
}

.vertical-context-menu {
    border: solid 1px #000;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    text-align: left;
    margin: 4px 0px 0px 4px;
    padding: 0px;
}

.vertical-context-menu > li {
    list-style-type: none;
    border-bottom: solid 1px #000;
    padding: 6px;
}

.vertical-context-menu > li:last-child {
    border-bottom: none;
}

.vertical-context-menu > li:hover {
    color: #fff;
    background-color: #333;
}

.widgetContainer {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
